# Rebuildable files and folders
Binaries
DerivedDataCache
Intermediate
Saved
Plugins
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# OS Garbage
.DS_Store
Thumbs.db
Desktop.ini
# Logs
*.log
*.log.*

# Temp files
tmp

# Developer folder
Content/Developers/
Content/Vefects/
Content/Data/Backups/