Binaries
DerivedDataCache
Intermediate
Saved
Plugins
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Content/Vefects
/Content/StylizedShadersPack
/Content/scifi_modern_GUI
/Content/SciFi_Impacts
/Content/MagicOrb_EnergyCore
/Content/Developers
