Binaries
DerivedDataCache
Intermediate
Saved
Plugins
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# OS Garbage
.DS_Store
Thumbs.db
Desktop.ini
# Logs
*.log
*.log.*

# Temp files
tmp